div.bwl_acc_container h2.acc_title_bar a::before {
   margin-right: 6px;
   margin-left: 6px;
}

div.bwl_acc_container .search_icon{
    background-position: top 2px left 10px;
}

div.bwl_acc_container .accordion_search_container .acc_clear_btn::after {
    right: -42px;
}